:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

.discount {
  color: red;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
}

.button.danger {
  background-color: red;
}

.button.danger:hover {
  background-color: darkred;
}

.icon.danger {
  color: red;
}

.icon.danger:hover {
  color: darkred;
}

.icon.success {
  color: green;
}

.icon.success:hover {
  color: darkgreen;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a,
.cart_summary a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

.card__discount {
  position: relative;
  text-align: center;
  color: red;
  transform: rotate(90deg);
  bottom: 8em;
  left: 3.5em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product_discount {
  position: relative;
  left: -13%;
  top: -30em;
  color: red;
  transform: rotate(-45deg);
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15% 5%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart__discount {
  position: relative;
  grid-row: 1/3;
  grid-column: 1;
  font-size: medium;
  left: -13%;
  bottom: 5em;

  color: red;
  transform: rotate(-45deg);
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.cart-card__functions {
  margin-bottom: auto;
  grid-row: 1;
  grid-column: 4;
}

#cart-functions {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

form {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

form .left {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5em;
}

form section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

form #cart-functions {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form #cart-functions button {
  height: 50%;
  margin: 0 1em;
}

form #cart-functions span {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1em;
}

form #cart-functions span h3 {
  padding: 0 1em;
  margin: 0;
  text-align: left;
}

.shipping {
  grid-column: 1;
}

.payment {
  grid-column: 1;
  justify-content: flex-start;
}

.summary {
  grid-column: 2;
  grid-row: 1/-1;
}

.form_group {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.form_group label {
  width: 100%;
  text-align: left;
}

.form_group input {
  width: 100%;
}

section + button {
  margin-top: 1em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.alert-card {
  padding: 1em;
}

.alert-card h2 {
  margin: 0;
}

.alert-card p {
  margin: 0;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  color: white;
  background-color: rgb(253, 110, 110);
}

.alert p {
  margin: 0;
  padding: 0;
}

.alert .close {
  cursor: pointer;
}

.success {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  color: black;
  background-color: lightgreen;
}

.success p {
  margin: 0;
  padding: 0;
}

.success .close {
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.login-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

#orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.5em;
}

.order-card {
  width: 30%;
  background-color: beige;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5em;
  overflow: hidden;
}

.order-card-header, .order-card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: lightgray;
}

.order-card-footer {
  justify-content: flex-end;
}

.order-card-header *, .order-card-footer * {
  margin: 0;
}

.order-card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.order-card-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.order-card-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}